body {
    margin-left: 75px;
    margin-top: 75px;
    /*background-color: steelblue;*/
}
h1 {
    /*margin-left: 300px;*/
    /*text-align: center;*/
}
h3 {
    /*margin-left: 300px;*/
    /*text-align: center;*/
}

.form1 {
    /*margin-left: 300px;*/
    /*text-align: center;*/
}
.form2 {
    /*text-align: center;*/
}

.main-content {
    /*width: 350px;
    margin-left: 300px;*/
    /*background-color: steelblue;*/
}